/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

p, pre {
    margin: 1em 0
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: '';
    content: none
}

small {
    font-size: 75%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

dl, menu, ol, ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}

menu, ol, ul {
    padding: 0 0 0 40px
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clear {
    clear: both
}

.clearfix {
    display: block;
    *zoom: 1
}

.clearfix:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: "."
}

.inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.replace {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.ellipsis {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.tipsy {
    padding: 5px;
    font-size: 10px;
    position: absolute;
    z-index: 100000
}

.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: white;
    max-width: 200px;
    text-align: center;
    line-height: 1.5
}

.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.tipsy-arrow {
    position: absolute;
    background: url('http://static.tumblr.com/xlsgtjb/fd9m4sfih/tipsy.gif') no-repeat top left;
    width: 9px;
    height: 5px
}

.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    background-position: bottom left
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    background-position: bottom left
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    background-position: bottom left
}

.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 5px;
    height: 9px;
    background-position: top right
}

.tipsy-w .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    left: 0;
    width: 5px;
    height: 9px
}

.pln {
    color: #000
}

@media screen {
    pre .str {
        color: #080
    }

    pre .kwd {
        color: #008
    }

    pre .com {
        color: #800
    }

    pre .typ {
        color: #606
    }

    pre .lit {
        color: #066
    }

    pre .pun, pre .opn, pre .clo {
        color: #660
    }

    pre .tag {
        color: #008
    }

    pre .atn {
        color: #606
    }

    pre .atv {
        color: #080
    }

    pre .dec, pre .var {
        color: #606
    }

    pre .fun {
        color: #f00
    }
}

@media print, projection {
    .str {
        color: #060
    }

    .kwd {
        color: #006;
        font-weight: bold
    }

    .com {
        color: #600;
        font-style: italic
    }

    .typ {
        color: #404;
        font-weight: bold
    }

    .lit {
        color: #044
    }

    .pun, .opn, .clo {
        color: #440
    }

    .tag {
        color: #006;
        font-weight: bold
    }

    .atn {
        color: #404
    }

    .atv {
        color: #060
    }
}

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #eee
}

html, body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background: #fff;
    color: #4f5759;
    -webkit-font-smoothing: antialiased
}

a {
    color: #33a6b8;
    text-decoration: none
}

a:hover {
    color: #2a8998
}

h1, h2, h3, h4, h5, h6 {
    color: #222
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #222;
    text-decoration: none
}

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    padding: .6em 1.2em;
    cursor: pointer;
    font-size: 95%;
    line-height: 1.5;
    overflow: hidden;
    color: #fff !important;
    font-weight: bold;
    background-color: #4f5759;
    text-decoration: none;
    border: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.btn:hover {
    color: #fff;
    background-color: #33a6b8;
    text-decoration: none
}

.btn-large {
    font-size: 140%;
    box-sizing: border-box;
    margin-bottom: .5em
}

.replace {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 0;
    background-repeat: no-repeat
}

#container {
    width: 940px;
    margin-left: auto;
    margin-right: auto
}

#header {
    display: block;
    *zoom: 1;
    margin: 4em 0
}

#header:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: "."
}

.blog-title {
    float: left;
    display: inline-block;
    font-size: 120%;
    padding-bottom: .2em;
    letter-spacing: .2em;
    margin: 10px 0;
    border-bottom: 5px solid #222
}

.blog-title:hover {
    border-color: #33a6b8
}

.blog-title:hover a {
    color: #33a6b8
}

.blog-title a {
    position: relative;
    left: .1em;
    padding: .4em 0
}

.mobile-nav-panel {
    display: none;
    padding: 15px 0 0
}

.mobile-nav-panel .icon-reorder {
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 17px;
    background: url('../images/icon-reorder@2x.png') no-repeat 0 0;
    background-size: 18px 17px
}

.nav {
    margin: 10px 0;
    font-size: 85%;
    text-transform: uppercase;
    float: right
}

.nav ul {
    display: block;
    *zoom: 1;
    margin: 0;
    padding: 0
}

.nav ul:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: "."
}

.nav li {
    float: left;
    margin: .3em 0 .3em 2.5em
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    color: #4f5759
}

.nav a:hover {
    color: #33a6b8
}

#main {
    padding-left: 200px
}

.post {
    margin-bottom: 5em;
    position: relative
}

.post .entry-header {
    margin-bottom: 2em
}

.post .entry-title {
    /*font-size: 220%;*/
    margin: 0;
    ont-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
}

.entry-meta-header {
    position: absolute;
    top: .5em;
    left: -200px;
    width: 180px;
    font-size: 85%
}

.entry-meta-header a {
    color: #4f5759
}

.entry-meta-header a:hover {
    color: #33a6b8
}

.entry-meta-header .meta-elements {
    display: block;
    margin-bottom: .5em
}

.entry-meta-header .date {
    font-weight: bold;
    font-size: 120%
}

.entry-meta-header .date a {
    color: #222
}

.entry-meta-header .date a:hover {
    color: #33a6b8
}

.entry-content {
    /*font-size: 105%;*/
    /*line-height: 2;*/
    /*margin-bottom: 2em;*/
    font-family: Georgia, "Times New Roman", Times, "Songti SC", "SimSun", serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    color: #2f2f2f;
}

.entry-content p {
    margin: 0 0 1em 0
}

.entry-content img, .entry-content video {
    max-width: 100%;
    height: auto
}

.entry-content a[title*="Flickr"] img {
    height: auto !important
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    margin: 1em 0 0.8em 0;
    line-height: 1.5
}

.entry-content h1 {
    font-size: 170%
}

.entry-content h2 {
    font-size: 160%
}

.entry-content h3 {
    font-size: 140%
}

.entry-content h4 {
    font-size: 130%
}

.entry-content h5 {
    font-size: 110%
}

.entry-content h6 {
    font-size: 100%
}

.entry-content ul, .entry-content ol, .entry-content dd {
    margin: 0 0 1em 1.5em;
    padding: 0
}

.entry-content ul li ul, .entry-content ol li ul, .entry-content dd li ul, .entry-content ul li ol, .entry-content ol li ol, .entry-content dd li ol {
    margin-bottom: 0
}

.entry-content table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1em;
    margin-bottom: 1em;
    width: 100%;
    overflow: auto;
    display: block
}

.entry-content table th, .entry-content table td {
    border: 1px solid #ddd;
    padding: 5px 10px
}

.entry-content table th {
    background: #fafafa
}

.entry-content .hatena-asin-detail li {
    line-height: 1.4
}

.entry-content blockquote {
    margin: 1.5em 3em;
    padding: 5px 20px;
    border-left: 2px solid #aaa;
    color: #777
}

.entry-content blockquote p:last-child {
    margin-bottom: 0
}

.entry-content pre, .entry-content code {
    font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif
}

.entry-content pre {
    padding: 15px;
    background: #f5f5f5;
    border: none;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    word-wrap: normal;
    overflow-x: auto;
    font-size: 100%;
    line-height: 1.3
}

.entry-content pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background-color: transparent;
    font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif
}

.entry-content code {
    font-size: 90%;
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f2;
    border-radius: 3px
}

.entry-content .amazlet-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 1em !important;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.entry-content .sticky-itslink, .entry-content .iTunesLinker-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 1em;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.entry-content .tl-tweet {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px
}

.entry-content .tl-tweet .tl-text {
    margin-bottom: 5px
}

.entry-content .tl-tweet .tl-posted {
    font-size: 85%;
    color: #777;
    margin: 0
}

.entry-content ul.tl-tweets {
    margin: 0 0 10px 0;
    padding: 0
}

.entry-content ul.tl-tweets li {
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px
}

.entry-content .gist table {
    margin: 0;
    border: 0
}

.entry-content .gist table td {
    border: 0
}

.entry-content hr {
    width: 20%;
    margin: 3em auto;
    border: 0;
    border-top: 3px solid #ccc
}

.link .entry-title {
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 8px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.link .entry-title a {
    color: #33a6b8
}

.quote .entry-content.short > blockquote {
    font-size: 140%
}

.quote .entry-content.medium > blockquote {
    font-size: 120%
}

.quote .entry-content.long > blockquote {
    font-size: 100%
}

.ul-chat {
    list-style: none;
    margin: 0 !important
}

.ul-chat li {
    padding: 8px 15px
}

.ul-chat .odd {
    background: #f5f5f5
}

.ul-chat .label {
    font-weight: bold
}

.answer .question {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 15px;
    font-size: 110%;
    background: #f5f5f5;
    margin-bottom: 1em;
    position: relative
}

.answer .question:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.answer .question:after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 10px;
    left: 6.5%;
    margin-left: -10px
}

.answer .asker-group {
    margin-left: 5%
}

.answer .user-icon {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff
}

.entry-meta-footer {
    font-size: 85%;
    color: #777;
    line-height: 1.5;
    margin-bottom: 1.5em
}

.entry-meta-footer a {
    color: #777
}

.entry-meta-footer a:hover {
    color: #33a6b8
}

.entry-meta-footer .meta {
    margin-bottom: .7em
}

.entry-meta-footer .hastags a {
    margin-right: .5em
}

.entry-meta-footer .rebloggedfrom .favicon {
    vertical-align: middle;
    border-radius: 16px
}

.hatena-star-star-container {
    margin-left: .8em
}

.hatena-star-add-button-image {
    background-image: url('../images/hatena-star-add-button.png')
}

.page-permalink.page- .hatena-star-star-container {
    display: none
}

.like_and_reblog_buttons {
    border: 1px solid #ccc;
    border-radius: 3px;
    list-style: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0;
    padding: 0
}

.like_and_reblog_buttons li {
    float: left;
    margin: 0;
    padding: 9px 17px;
    height: 16px
}

.like_and_reblog_buttons li:first-child {
    border-right: 1px solid #ccc
}

.notecount-header {
    margin: 1.5em 0 .5em
}

.notecontainer {
    margin: 0 0 2em;
    font-size: 90%
}

.notecontainer ol {
    margin: 0;
    padding: 0
}

.notecontainer ol li {
    list-style: none;
    border-bottom: 1px dashed #ccc;
    padding: .5em 0
}

.notecontainer ol li .avatar {
    max-height: 16px;
    width: auto;
    vertical-align: middle;
    margin-right: .5em
}

.notecontainer ol .avatar {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.social-buttons {
    margin: 1em 0
}

.social-buttons div, .social-buttons a, .social-buttons iframe {
    display: inline-block;
    vertical-align: top !important;
    margin-right: 4px !important
}

.social-buttons .fb-like {
    width: 70px !important;
    display: inline-block !important
}

.follow-button {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .5em 0
}

.follow-button .follow-tw, .follow-button .follow-google {
    display: inline-block;
    padding: .5em 0
}

.follow-button .follow-tw {
    margin-right: 1em
}

.footer-ad {
    margin: 1.5em 0
}

.article-devider {
    width: 8%;
    margin: 5em auto;
    border: 0;
    border-top: 5px solid #ddd
}

#recent {
    margin: 2em 0
}

#recent h2, #recent h3 {
    margin: 1.5em 0 .5em
}

#recent ul {
    margin: 0;
    padding: 0;
    font-style: 110%
}

#recent ul li {
    list-style: none;
    padding: .6em 0;
    border-bottom: 1px solid #ccc
}

.hatena-bookmark-module {
    margin: 1.5em 0
}

.hatena-bookmark-module .hatena-bookmark-widget-title {
    margin: 1.5em 0 .5em;
    font-size: 1.17em
}

.hatena-bookmark-module .hatena-bookmark-widget-title a {
    color: #222;
    font-weight: bold
}

.hatena-bookmark-module .hatena-bookmark-widget-title img {
    display: none
}

.hatena-bookmark-module .hatena-bookmark-widget-body {
    margin-bottom: .5em
}

.hatena-bookmark-module .hatena-bookmark-widget-body ul {
    margin: 0;
    padding: 0
}

.hatena-bookmark-module .hatena-bookmark-widget-body li {
    list-style: none;
    padding: .6em 0;
    border-bottom: 1px solid #ccc;
    padding-left: 72px;
    position: relative
}

.hatena-bookmark-module .hatena-bookmark-widget-body li .hatena-bookmark-count {
    position: absolute;
    top: 14px;
    left: 0;
    display: inline-block;
    font-size: 75%
}

.hatena-bookmark-module .hatena-bookmark-widget-body li .hatena-bookmark-count a {
    background: #fff;
    color: #777;
    border: 1px solid #ccc;
    padding: .15em .3em;
    border-radius: 3px
}

.hatena-bookmark-module .hatena-bookmark-widget-body li .hatena-bookmark-count a:hover {
    color: #00A5DE;
    border-color: #00A5DE
}

.hatena-bookmark-module .hatena-bookmark-widget-body li em {
    font-style: normal;
    font-weight: bold
}

.hatena-bookmark-module .hatena-bookmark-widget-footer a {
    color: #aaa;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Century Gothic', 'Futura'
}

.likebox-container {
    min-height: 270px;
    margin-bottom: 1em
}

div.likebox-container .fbcomments, div.likebox-container .fb_iframe_widget, div.likebox-container .fb_iframe_widget[style], div.likebox-container .fb_iframe_widget iframe[style], div.likebox-container .fbcomments iframe[style], div.likebox-container .fb_iframe_widget span {
    width: 100% !important
}

.pagenation {
    text-align: center;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: bold;
    letter-spacing: .1em
}

.pagenation span, .pagenation a {
    display: inline-block;
    min-width: 1.2em;
    padding: 6px 8px;
    margin: 1px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.pagenation a {
    color: #4f5759
}

.pagenation a:hover {
    background-color: #f5f5f5
}

.pagenation .current-page {
    background: #ccc;
    color: #fff
}

.pagenation.pagenation-permalink a {
    padding: 8px 15px
}

#footer {
    margin: 3em 0;
    font-size: 70%;
    display: block;
    *zoom: 1;
    line-height: 1.6
}

#footer:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: "."
}

#footer .footer-blog-title {
    float: left;
    display: inline-block;
    text-transform: uppercase;
    font-size: 120%;
    padding-bottom: .2em;
    letter-spacing: .2em;
    margin: .2em 1.5em 0 0;
    border-bottom: 3px solid #777
}

#footer .footer-blog-title:hover {
    border-color: #33a6b8
}

#footer .footer-blog-title:hover a {
    color: #33a6b8
}

#footer .footer-blog-title a {
    position: relative;
    left: .1em;
    padding: .4em 0;
    color: #777
}

#footer .copyright {
    display: block
}

@media (min-width: 768px) and (max-width: 1040px) {
    #container {
        width: 700px
    }

    #main {
        padding-left: 0
    }

    .entry-meta-header {
        position: static;
        margin-bottom: 1em;
        width: auto
    }

    .entry-meta-header .meta-elements {
        display: inline;
        margin-right: 1em
    }

    .post {
        font-size: 100%
    }

    .post .entry-title {
        font-size: 180%
    }

    .post .entry-content pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        overflow-x: hidden
    }
}

@media (max-width: 767px) {
    #container {
        width: 93.75%;
        word-wrap: break-word;
        overflow: hidden
    }

    .mobile-nav-panel {
        display: block
    }

    .nav {
        height: 0;
        overflow: hidden;
        margin: 0
    }

    .nav.active {
        height: auto;
        overflow: visible;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: #4f5759;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        transition: all .2s ease-out;
        z-index: 2
    }

    .nav ul {
        display: block
    }

    .nav ul li {
        display: block;
        width: 100%;
        margin: 0
    }

    .nav ul li a {
        display: block;
        border: none;
        padding: 1em .5em;
        color: #fff;
        border-bottom: 1px solid #677174;
        text-align: left
    }

    #header {
        margin: 2em 0 4em 0;
        text-align: center
    }

    .blog-title {
        float: none
    }

    #main {
        padding-left: 0
    }

    .entry-meta-header {
        position: static;
        margin-bottom: 1em;
        width: auto
    }

    .entry-meta-header .meta-elements {
        display: inline;
        margin-right: 1em
    }

    .post {
        font-size: 90%
    }

    .post .entry-title {
        font-size: 180%
    }

    .post .entry-content {
        line-height: 1.8
    }

    .post .entry-content pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        overflow-x: hidden
    }

    .post .entry-content blockquote {
        margin: 1em 0
    }

    .post .entry-content table th, .post .entry-content table td {
        word-break: break-all
    }

    .post .entry-content iframe {
        width: 100% !important
    }

    .social-buttons-line1, .social-buttons-line2 {
        display: block;
        text-align: center
    }

    .social-buttons-line1 {
        margin-bottom: .5em
    }

    .pagenation span, .pagenation a {
        padding: 5px;
        margin: 0
    }

    #footer .footer-blog-title {
        float: none;
        margin-bottom: 1em
    }
}